canvas {
    position: absolute;
    float:left;
    top: 0px;
    z-index: -1;
}

#border {
	display: inline-block;
	float:left;
	clear: both;
	border: 2px solid grey;
	border-radius: 10px;
	padding: 5px;
	margin: 5px;
}

.container {
    position: relative;
    float:left;

    display: inline-block;
    height: 700px;
    width: 51px;

    margin-top: 10px;
}

.firstZoom.container {
    margin-left: 50px;
    width: 51px;
}

.secondZoom.container {
    margin-left: 100px;
    width: 51px;
}

.text.container {
    margin-left: 550px;
    width: 100px;
}

.zoomRegion {
    width: auto;
    height: 3%;
    border: 4px solid;
}

.twice.zoomRegion {
    width: auto;
    height: 8%;
    border: 4px solid;
}