body{
	margin: 0px;
}

canvas {
    position: absolute;
    top: 0px;
    z-index: -1;
}

#border {
	display: inline-block;
	float:left;
	border: 2px solid grey;
	border-radius: 10px;
	padding: 5px;
	margin: 5px;
}

.container {
    position: relative;
    float:left;

    display: inline-block;
    height: 700px;

    margin-top: 10px;
}

.firstZoom.container,
.secondZoom.container {
    margin-left: 10px;
}

.text.container {
    margin-left: 10px;
    width: 70px;
}

.chart{
	display: inline-block;
	//float:left;
}

.zoomRegion {
    width: auto;
    height: 3%;
    border: 4px solid;
}

.twice.zoomRegion {
    width: auto;
    height: 8%;
    border: 4px solid;
}